<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/halfmoonFramework/css/halfmoon-variables.min.css">
    <link href="https://cdn.jsdelivr.net/npm/halfmoon@1.1.1/css/halfmoon-variables.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/DashBoard.css">
    <title>DashBoard - </title>
</head>

<body class="dark-mode with-custom-webkit-scrollbars with-custom-css-scrollbars" data-sidebar-shortcut-enabled="true"
    data-dm-shortcut-enabled="true">
    <input type="hidden" name="docs-section-id" id="docs-section-id" value="buttons">
    <div id="page-wrapper Auto-Detection" class="page-wrapper with-navbar with-sidebar"
        data-sidebar-type="overlayed-sm-and-down">
        <!-- Navbar start -->
        <nav class="navbar">
            <div class="navbar-content">
                <button id="toggle-sidebar-btn" class="btn btn-action" type="button" onclick="halfmoon.toggleSidebar()">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </button>
            </div>
            <a href="/" class="navbar-brand ml-10 ml-sm-15">
                <img src="/images/strong.png" class="hidden-dm mr-5 mr-sm-10">
                <img src="/images/strong.png" class="hidden-lm mr-5 mr-sm-10">
                <p class="Brand-Txt">Fitgym</p>
            </a>
            <div class="navbar-content ml-auto">
                <button class="btn btn-action mr-5" type="button" onclick="halfmoon.toggleDarkMode()"
                    aria-label="Toggle dark mode">
                    <i class="fa fa-moon-o" aria-hidden="true"></i>
                </button>
            </div>
        </nav>
        <div class="sidebar-overlay" onclick="halfmoon.toggleSidebar()"></div>
        <div style="width: 18%" class="sidebar" id="sidebar">
            <div class="sidebar-menu">
                <a href="#" class="sidebar-brand">
                    <img src="/images/strong.png">
                    Fitgym
                </a>
                <!-- Sidebar content with the search box -->
                <div class="sidebar-content">
                    <div class="mt-10 font-size-12">
                        <!-- mt-10 = margin-top: 1rem (10px), font-size-12 = font-size: 1.2rem (12px) -->
                        <kbd style="font-size: max(.99vw, 10px);">Seja Bem vindo <%= User.Name %>!</kbd>
                    </div>
                </div>
                <!-- Sidebar links and titles -->
                <h5 class="sidebar-title">Saúde</h5>
                <div class="sidebar-divider"></div>
                <a href="#" class="sidebar-link">Exercicios em casa</a>
                <a href="#" class="sidebar-link">Alimentação saudável</a>
                <br />
                <h5 class="sidebar-title">Algumas Opções</h5>
                <div class="sidebar-divider"></div>
                <a href="#" class="sidebar-link">Cáculo de IMC</a>
                <a href="#" class="sidebar-link">Calorias por pratos</a>
                <a href="#" class="sidebar-link">Exercícios em casa</a>
                <a href="#" class="sidebar-link">Tabela nutricional</a>
            </div>
        </div>

        <div class="content-wrapper">
            <div class="card">
                <div class="Container-PerfilUser">

                    <div class="PerfilUser">

                        <div class="Daily-Training">
                            <h1 class="Title-Daily">Treinamento diário</h1>
                        </div>

                        <div class="Perfil">
                            <h1 class="Name-User"><%= User.Name + ' ' + User.LastName %></h1>
                            <div class="Circle-img">
                                <img class="Img-User" src="/images/user.png" alt="">
                            </div>
                        </div> 
                    </div>

                    <div class="Container-GridExercises">
                        
                    </div>
                </div>  
            </div>
        </div>
    </div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/highlight.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/halfmoon@1.1.1/js/halfmoon.min.js"></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/halfmoon@1.1.1/js/halfmoon.min.js"></script>
    <script src="/halfmoonFramework/js/halfmoon.js"></script>
    <script src="/javascript/DashBoard.js"></script>

</body>

</html>