<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Index.css">
    <title>GYM - Academy</title>
</head>

<body>
    <div class="Nav-Bar-User">
        <div class="Brand">
            <div class="Img-brand">
                <img class="strong" src="/images/strong.png" alt="">
            </div>
            <a href="/" class="Home">Fitgym</a>
        </div>

        <div class="Nav-Links">
            <div class="Links">
                <button id="Home">
                    <span>
                        <p class="Home-Button">Programas</p>
                    </span>
                </button>
            </div>
            <div class="Links">
                <button id="Help">
                    <span>
                        <p class="Help-Button">Treinos</p>
                    </span>
                </button>
            </div>
            <div class="Links">
                <button id="Info">
                    <span>
                        <p class="Info-Button">Experiências</p>
                    </span>
                </button>
            </div>
            <div class="Links">
                <button id="Login">
                    <span>
                        <p class="Login-Button">Entrar</p>
                    </span>
                </button>
            </div>
        </div>
    </div>

    <div class="Title-Page">
        <div class="Gradient-One">
            <div class="Title-Page-Text">
                <h1 class="Title">Participe da Fitgym. Aqui a sua saúde e seu corpo são sempre prioridades</h1>

                <div class="Images-Person">
                    <div class="Circle-One">
                        <img class="Images" src="/images/emily-sea-coiWR0gT8Cw-unsplash.jpg">
                    </div>
                    <div class="Circle-Two">
                        <img class="Image-Two" src="/images/kinetik-83-2-scaled-640x640-c-center.jpg">
                    </div>
                    <div class="Circle-Three">
                        <img class="Images" src="/images/Ft2.jpg">
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="Training-Programs">
        <div class="Training-Title">
            <h1 class="Title-Training">Programas de treino são oferecidos para você!</h1>
        </div>

        <div class="Container-Training">
            <div class="Option-1">
                <h1 class="Calendar">Calendário</h1>
                <img class="Image-Calendar" src="/images/notification.png" alt="">
                <p class="text-Calendar">A Gitgym possuí calendario, onde você pode se projetar e melhorar seus
                    hábitos diariamente.</p>
            </div>

            <div class="Space1"></div>

            <div class="Option-2">
                <h1 class="Fitness">Fitness</h1>
                <img class="Image-Dubbell" src="/images/dumbbell.png" alt="">
                <p class="text-Dubbell">
                    Nós temos também, um plano de alimentação fitness. Onde mostramos os valores calóricos
                    de alguns alimentos.
                </p>
            </div>

            <div class="Space2"></div>

            <div class="Option-3">
                <h1 class="balance">Calorias</h1>
                <img class="Image-balance" src="/images/dish.png" alt="">
                <p class="text-Balance">Com a nossa plataforma, você pode ver quantas calorias
                    está ingerindo com o peso e o tipo do alimento!
                </p>
            </div>
        </div>
    </div>

    <div class="House-Exercises">
        <div class="Conatainer-Images">
            <div class="Title-Container-Images">
                <h1 class="Title-Images">Treine sem sair de casa!</h1>
                <div class="Container-Text-img">
                    <p class="Text-Images">A Fitgym, tem um plano pra quem deseja treinar sem precisar sair de
                        casa. A plataforma disponibiliza vários vídeos com instrutores para se adaptarem ao
                        treinamento!</p>
                </div>
            </div>
            <!-- Sep 0 -->
            <div class="Box-1">
                <img class="img-Box"
                    src="https://images.unsplash.com/photo-1594737625785-a6cbdabd333c?ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80"
                    alt="">
            </div>
            <!-- Sep 1 -->
            <div class="Box-2">
                <img class="img-Box"
                    src="https://images.unsplash.com/photo-1595078475328-1ab05d0a6a0e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=645&q=80"
                    alt="">
            </div>
            <!-- Sep 2 -->
            <div class="Box-3">
                <img class="img-Box"
                    src="https://images.unsplash.com/photo-1574680178050-55c6a6a96e0a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80"
                    alt="">
            </div>
            <!-- Sep 3 -->
            <div class="Box-4">
                <img class="img-Box"
                    src="https://images.unsplash.com/photo-1583454110551-21f2fa2afe61?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1050&q=80"
                    alt="">
            </div>
        </div>
    </div>

    <div class="Price-Plan">
        <div class="Title-Price-Plan">
            <p class="First-Price-Plan">Planos Fitgym</p>
            <h1 class="Text-Price-Plan">Escolha seu plano e entre totalmente de graça!</h1>
        </div>

        <div class="Cards-Plans">
            <div class="Card-One">
                <div class="Header-Card">
                    <h1 class="Title-Card">Sem sair de casa</h1>
                    <div class="Image-Card">
                        <img class="Daily-plan" src="/images/flower-pot.png" alt="">
                    </div>
                </div>
                <div class="Price">
                    <h1 style="left: 25%; top:3.5vh;" class="Text-Value">Gratís</h1>
                </div>
                <hr id="Sep" />
                <div class="Targets">
                    <div class="Target-T1">
                        <div class="Image-T1">
                            <img class="T1" src="/images/darts.png" alt="">
                        </div>
                        <h1 class="T1-Text">Calendário</h1>
                    </div>
                    <div class="Target-T1">
                        <div class="Image-T1">
                            <img class="T1" src="/images/darts.png" alt="">
                        </div>
                        <h1 class="T1-Text">Treinamento em casa</h1>
                    </div>
                </div>
                <div class="Button-Card">
                    <button id="Purchase-1">Conferir agora!</button>
                </div>
            </div>
            <div class="Card-Two">
                <div class="Header-Card">
                    <h1 class="Title-Card">Alimentação</h1>
                    <div class="Image-Card">
                        <img class="Daily-plan" src="/images/flower-pot.png" alt="">
                    </div>
                </div>
                <div class="Price">
                    <h1 class="Text-Value">Gratís</h1>
                </div>
                <hr id="Sep" />
                <div class="Targets">
                    <div class="Target-T1">
                        <div class="Image-T1">
                            <img class="T1" src="/images/darts.png" alt="">
                        </div>
                        <h1 class="T1-Text">Calendário</h1>
                    </div>
                    <div class="Target-T1">
                        <div class="Image-T1">
                            <img class="T1" src="/images/darts.png" alt="">
                        </div>
                        <h1 class="T1-Text">Alimentação</h1>
                    </div>
                </div>
                <div class="Button-Card">
                    <button id="Purchase-2">Conferir agora!</button>
                </div>
            </div>
            <div class="Card-Three">
                <div class="Header-Card">
                    <h1 class="Title-Card">Alimentação II</h1>
                    <div class="Image-Card">
                        <img class="Daily-plan" src="/images/flower-pot.png" alt="">
                    </div>
                </div>
                <div class="Price">
                    <h1 class="Text-Value">Gratís</h1>
                </div>
                <hr id="Sep" />
                <div class="Targets">
                    <div class="Target-T1">
                        <div class="Image-T1">
                            <img class="T1" src="/images/darts.png" alt="">
                        </div>
                        <h1 class="T1-Text">Calendário</h1>
                    </div>
                    <div class="Target-T1">
                        <div class="Image-T1">
                            <img class="T1" src="/images/darts.png" alt="">
                        </div>
                        <h1 class="T1-Text">Alimentação</h1>
                    </div>
                    <div class="Target-T1">
                        <div class="Image-T1">
                            <img class="T1" src="/images/darts.png" alt="">
                        </div>
                        <h1 class="T1-Text">Calorias</h1>
                    </div>
                </div>
                <div class="Button-Card">
                    <button id="Purchase-3">Conferir agora!</button>
                </div>
            </div>
            <div class="Card-Four">
                <div class="Header-Card">
                    <h1 class="Title-Card">Combo Total</h1>
                    <div class="Image-Card">
                        <img class="Daily-plan" src="/images/flower-pot.png" alt="">
                    </div>
                </div>
                <div class="Price">
                    <h1 class="Text-Value">Gratís</h1>
                </div>
                <hr id="Sep" />
                <div class="Targets">
                    <div class="Target-T1">
                        <div class="Image-T1">
                            <img class="T1" src="/images/darts.png" alt="">
                        </div>
                        <h1 class="T1-Text">Calendário</h1>
                    </div>
                    <div class="Target-T1">
                        <div class="Image-T1">
                            <img class="T1" src="/images/darts.png" alt="">
                        </div>
                        <h1 class="T1-Text">Alimentação</h1>
                    </div>
                    <div class="Target-T1">
                        <div class="Image-T1">
                            <img class="T1" src="/images/darts.png" alt="">
                        </div>
                        <h1 class="T1-Text">Calorias</h1>
                    </div>
                    <div class="Target-T1">
                        <div class="Image-T1">
                            <img class="T1" src="/images/darts.png" alt="">
                        </div>
                        <h1 class="T1-Text">Treinamento em casa</h1>
                    </div>
                </div>
                <div class="Button-Card">
                    <button id="Purchase-4">Conferir agora!</button>
                </div>
            </div>
        </div>
    </div>

    <div class="Footer">
        <div class="Title-Footer">
            <h1 class="Footer-Title">Fique por dentro dás últimas notícias sobre a Fitgym!</h1>
        </div>
        <div class="Sub-Title">
            <p class="SubTitle-Footer">Deixe seu melhor e-mail e entraremos em contato o mais rápido possível!</p>
        </div>

        <form action="/SaveMail" method="POST">

            <div class="Mail-Input">
                <div class="label-float">
                    <input type="email" name="Email" placeholder=" * Exemplo@Exemplo.com">
                    <label>Endereço de email</label>
                </div>
            </div>
            <div class="Submit-Form">
                <button type="submit" id="Submit-Mail">
                    <span>
                        <div class="Submit-Image">
                            <img class="Img-Submit" src="/images/correspondencia-enviada.png" alt="">
                        </div>
                    </span>
                </button>
            </div>

        </form>
    </div>

    <script src="/javascript/Index.js"></script>
</body>

</html>