@import url('https://fonts.googleapis.com/css2?family=Monda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

.Brand-Txt{
    font-family: 'Monda';
    font-size: max(1.6vw, 12px);
    color: rgb(140, 32, 218);
    font-weight: bolder;
}
.card-Dash{
    position: relative;
    left: 1%;
    width: 80%;
}
.Container-PerfilUser{
    position: relative;
    height: 73vh;
    width: 100%;
}
.Perfil{
    border: 1px solid rgba(110, 110, 110, .5);
    border-radius: 5px;
    display: inline-flex;
    position: relative;
    left: 75%;
    width: 25%;
    height: 9vh;
}
.Name-User{
    position: relative;
    left: 8%;
    top: 1.8vh;
    font-size: max(1.025vw, 15px);
}
.Circle-img{
    position: relative;
    left: 20%;
    width: 60px;
    top: .5vh;
    height: 60px;
    border-radius: 60px;
}
.Img-User{
    width: 100%;
}
.Daily-Training{
    position: absolute;
    width: 30%;
    top: 0;
    height: 10vh;
}
.Title-Daily{
    font-family: 'Poppins';
    text-align: left;
    font-size: max(1.8vw, 15px);
    position: relative;
}
.Container-GridExercises{
    position: absolute;
    top: 14vh;
    width: 100%;
    height: 18vh;
    border: 1px solid white;
}