@import url('https://fonts.googleapis.com/css2?family=Monda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

.Brand-Txt{
    font-family: 'Monda';
    font-size: max(1.6vw, 12px);
    color: rgb(140, 32, 218);
    font-weight: bolder;
}
.card-Dash{
    position: relative;
    left: 1%;
    width: 80%;
}
.Container-PerfilUser{
    position: relative;
    height: 73vh;
    width: 100%;
}
.PerfilUser{
    display: inline-flex;
    width: 100%;
    height: 11vh;
}
.Perfil{
    top: -.9vh;
    border-radius: 5px;
    display: inline-flex;
    position: relative;
    float: right;
    width: 25%;
    height: 9vh;
}
.Name-User{
    position: relative;
    left: 8%;
    top: 1.8vh;
    font-size: max(1.025vw, 15px);
}
.Circle-img{
    position: relative;
    left: 20%;
    width: 60px;
    top: .5vh;
    height: 60px;
    border-radius: 60px;
}
.Img-User{
    width: 100%;
}
.Daily-Training{
    width: 75%;
    height: 10vh;
}
.Title-Daily{
    font-family: 'Poppins';
    text-align: left;
    font-size: max(1.5vw, 15px);
    position: relative;
}
.Container-GridExercises{
    display: inline-flex;
    position: relative;
    top: 2vh;
    width: 100%;
    height: 21vh;
}
.Exercise1{
    width: 20%;
    height: 21vh;
    border: 1px solid rgb(30,30,30, .5);
    background-color: rgb(30,30,30, );
    border-radius: 5px;
}
.Exercise2{
    left: 7%;
    width: 20%;
    position: relative;
    height: 21vh;
    border: 1px solid rgb(59, 59, 59);
    border-radius: 5px;
}
.Exercise3{
    left: 13%;
    width: 20%;
    position: relative;
    height: 21vh;
    border: 1px solid rgb(59, 59, 59);
    border-radius: 5px;
}
.Exercise4{
    left: 20%;
    width: 20%;
    position: relative;
    height: 21vh;
    border: 1px solid rgb(59, 59, 59);
    border-radius: 5px;
}
.Container-GridExercises{
    display: inline-flex;
    width: 100%;
    height: 19vh;
}
.Card-1{
    border: 1px solid rgb(90,90,90, .3);
    width: 22%;
    height: 19vh;
    background-color: transparent;
    border-radius: 5px;
}
.Card-2{
    border: 1px solid rgb(90,90,90, .3);
    position: relative;
    width: 22%;
    left: 4%;
    height: 19vh;
    border-radius: 5px;
}
.Card-3{
    border: 1px solid rgb(90,90,90, .3);
    position: relative;
    border-radius: 5px;
    width: 22%;
    left: 8%;
    height: 19vh;
}
.Card-4{
    border: 1px solid rgb(90,90,90, .3);
    position: relative;
    border-radius: 5px;
    width: 22%;
    left: 12%;
    height: 19vh;
}
.Title-Exercise{
    font-family: 'Poppins';
    width: 100%;
    text-align: center;
    font-weight: bolder;
    font-size: max(.9vw, 9px);
}
.Image-Exercise{
    height: 12vh;
    position: relative;
    top: -2vh;
    left: 30%;
    width: 40%;
}
.Img-Exercise{
    height: 12vh;
    width: 95px;
}
.Card-HealthyEating{
    display: inline-flex;
    position: relative;
    top: 9.5vh;
    width: 100%;
    background-color: transparent;
    border: 1px solid rgb(90,90,90, .3);
    border-radius: 10px;
    height: 33vh;
}
.Text-HealthyEating{
    position: relative;
    top: 2vh;
    width: 60%;
    height: 28vh;
}
.Txt-HealthyEating{
    position: relative;
    text-align: center;
    font-family: 'Poppins';
    font-size: max(1.8vw, 15px);
    font-weight: 300;
}
.Body-HealthyEating{
    width: 95%;
    position: relative;
    left: 2.5%;
    font-family: 'Poppins';
    font-size: max(1vw, 15px);
    font-weight: 300;
}
.Button-HealthyEating{
    width: 80%;
    position: relative;
    left: 9%;
    height: 8vh;
    border-radius: 5px;
}
#Btn-HealthyEating{
    text-align: center;
    background-color: transparent;
    width: 100%;
    height: 8vh;
    border-radius: 5px;
    border: 1px solid rgb(90,90,90, .3);
}
.BtnText-HealthyEating{
    text-align: center;
    font-family: 'Monda';
    font-size: max(1.2vw, 15px);
}
.Image-HealthyEating{
    height: 33vh;
    width: 25%;
    position: relative;
    left: 10%;
}
.Img-HealthyEating{
    position: relative;
    left: 10%;
    width: 240px;
    top: 2.5vh;
    height: 28vh;
}
#Start-Trainning{
    position: relative;
    border: none;
    background-color: #1890ff;
    width: 100%;
    height: 8vh;
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: 500;
    font-size: max(1.1vw, 12px);
    border-radius: 3px;
}
#Start-Trainning:hover{
    transition: 0.2s;
    background-color: #005aad;
}
#Numbers-Modal{
    display: none;
    text-align: center;
    font-family: 'Poppins';
    font-size: max(4vw, 15px);
}
.Buttons-StartTrainning{
    position: relative;
    width: 100%;
    height: 8vh;
}
.Chronometer{
    display: none;
    position: relative;
    height: 70vh;
    width: 100%;
}
.Title-Chronometer{
    text-align: center;
    font-size: max(2vw, 15px);
    font-family: 'Poppins';
}
.SubTitle-Chronometer{
    text-align: center;
    font-size: max(1.4vw, 15px);
    font-family: 'Poppins';
}
.Chronometer-Timer{
    text-align: center;
    font-size: max(6vw, 15px);
    font-family: 'Poppins';
}
.Init-Timer{
    display: inline-flex;
    position: relative;
    left: 20%;
    width: 60%;
    height: 8vh;
}
.Pause{
    height: 8vh;
    width: 45%;
}
.Init{
    height: 8vh;
    width: 55%;
}