<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/halfmoonFramework/css/halfmoon-variables.min.css">
    <link href="https://cdn.jsdelivr.net/npm/halfmoon@1.1.1/css/halfmoon-variables.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/HealthyEating.css">
    <title>DashBoard - </title>
</head>

<body class="dark-mode with-custom-webkit-scrollbars with-custom-css-scrollbars" data-sidebar-shortcut-enabled="true"
    data-dm-shortcut-enabled="true">

    <!-- Modal Da sessão de alimentação saudável -->

    <div class="modal modal-full ie-scroll-fix" id="modal-5" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <a href="http://localhost:3000/User/DashBoard/HealthyEating" class="close" role="button"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </a>
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 offset-md-2">
                            <br /><br />
                            <div id="HiddenTitle" class="text-muted font-size-20 font-weight-medium">
                                Café da manhã
                                <i class="fa fa-angle-right ml-5"></i>
                            </div>
                            <h2 id="HiddenSubTitle" class="mt-10 mb-10 font-weight-medium">
                                Receitas de café da manhã
                            </h2>
                            <div id="HiddenName" class="font-size-20">
                                <%= User.Name + ' ' + User.LastName %>
                            </div>
                            <br />
                            <div class="text-center">
                                <img src="/images/breakfast.png" id="Image-Pilates" class="img-fluid rounded"
                                    alt="fullscreen-modal-img">
                            </div>
                            <div id="Hidden" class="font-size-18">
                                <h2 id="NameFood">
                                    A primeira receita é a panqueca americana
                                </h2>
                                <br>
                                <div style="border-radius: 100px;" class="text-center">
                                    <img src="https://images.unsplash.com/photo-1528207776546-365bb710ee93?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80"
                                        id="Image-Pilates" class="img-fluid rounded" alt="fullscreen-modal-img">
                                </div>
                                <br>
                                <h2 id="Ingredients">
                                    Ingredientes necessários:
                                </h2>
                                <p id="Text-1">
                                    Farinha de trigo 1 xícara (chá), Açúcar 4 colheres (sopa),
                                    Fermento químico em pó 3 colheres (chá), Ovo 2 unidades,Leite 1 xícara (chá),
                                    Manteiga 2 colheres (sopa), Sal 1 pitada, Manteiga a gosto.
                                </p>
                                <h2 id="Ingredients">
                                    Modo de preparo
                                </h2>
                                <p id="Text-2">
                                    Para iniciar a receita, Misture todos os ingredientes secos e em outro recipiente
                                    misture os líquidos mexendo bem.
                                </p>
                                <p id="Text-3">
                                    Depois junte os dois , secos e líquidos sem bater , e nem mexer muito.
                                </p>
                                <p id="Text-4">
                                    Em seguida para finalizar unte a frigideira e com o auxilio de uma concha coloque
                                    porçoes e frite por aproximadamente um minuto de cada lado ou ate ficar douradinha
                                    em fogo médio.
                                </p>
                                <p id="Text-5">
                                    O tempo de preparo é de 30 minutos e a quantidade calórica são de 657,79kcal em
                                    2 porções.
                                </p>
                                <p id="Text-6">
                                </p>
                                <p id="Text-7">
                                </p>
                                <p id="Text-8">
                                </p>
                                <p id="Text-9">
                                </p>
                            </div>
                            <div class="Buttons-StartTrainning">
                                <!--<button id="Start-Trainning" type="button">Iniciar Treino</button>-->
                            </div>
                            <hr />
                            <div id="References" class="text-center mt-20 text-muted">
                                Fonte: https://www.smartfit.com.br/news/fitness/tipos-de-abdominais - Smart Fit News
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- final do Modal da sessão de alimentação saudável -->

    <input type="hidden" name="docs-section-id" id="docs-section-id" value="buttons">
    <div id="page-wrapper Auto-Detection" class="page-wrapper with-navbar with-sidebar"
        data-sidebar-type="overlayed-sm-and-down">
        <nav class="navbar">
            <div class="navbar-content">
                <button id="toggle-sidebar-btn" class="btn btn-action" type="button" onclick="halfmoon.toggleSidebar()">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </button>
            </div>
            <a href="/" class="navbar-brand ml-10 ml-sm-15">
                <img src="/images/strong.png" class="hidden-dm mr-5 mr-sm-10">
                <img src="/images/strong.png" class="hidden-lm mr-5 mr-sm-10">
                <p class="Brand-Txt">Fitgym</p>
            </a>
            <div class="navbar-content ml-auto">
                <button class="btn btn-action mr-5" type="button" onclick="halfmoon.toggleDarkMode()"
                    aria-label="Toggle dark mode">
                    <i class="fa fa-moon-o" aria-hidden="true"></i>
                </button>
            </div>
        </nav>
        <div class="sidebar-overlay" onclick="halfmoon.toggleSidebar()"></div>
        <div style="width: 18%" class="sidebar" id="sidebar">
            <div class="sidebar-menu">
                <a href="#" class="sidebar-brand">
                    <img src="/images/strong.png">
                    Fitgym
                </a>
                <div class="sidebar-content">
                    <div class="mt-10 font-size-12">
                        <kbd style="font-size: max(.99vw, 10px);">Seja Bem vindo <%= User.Name %>!</kbd>
                    </div>
                </div>
                <h5 class="sidebar-title">Saúde</h5>
                <div class="sidebar-divider"></div>
                <a href="http://localhost:3000/User/DashBoard" class="sidebar-link">Exercicios em casa</a>
                <a href="http://localhost:3000/User/DashBoard/HealthyEating" class="sidebar-link">Alimentação
                    saudável</a>
                <br />
                <h5 class="sidebar-title">Algumas Opções</h5>
                <div class="sidebar-divider"></div>
                <a href="#" class="sidebar-link">Cáculo de IMC</a>
                <a href="#" class="sidebar-link">Calorias por pratos</a>
                <a href="#" class="sidebar-link">Exercícios em casa</a>
                <a href="#" class="sidebar-link">Tabela nutricional</a>
            </div>
        </div>
        <div class="content-wrapper">
            <div class="card">
                <div class="Container-PerfilUser">
                    <div class="PerfilUser">
                        <div class="Daily-Training">
                            <h1 class="Title-Daily">
                                <%= User.Name %>, selecione a refeição e veja algumas receitas.
                            </h1>
                        </div>
                    </div>
                    <div class="Container-GridExercises">
                        <div class="Card-1">
                            <h1 class="Title-Exercise">Café da manhã</h1>
                            <div class="Image-Exercise">
                                <img class="Img-Exercise" src="/images/breakfast.png" alt="">
                            </div>
                        </div>

                        <div class="Card-2">
                            <h1 class="Title-Exercise">Almoço</h1>
                            <div class="Image-Exercise">
                                <img class="Img-Exercise" src="/images/lunch-box.png" alt="">
                            </div>
                        </div>

                        <div class="Card-3">
                            <h1 class="Title-Exercise">Café da tarde</h1>
                            <div class="Image-Exercise">
                                <img class="Img-Exercise" src="/images/coffee-cup.png" alt="">
                            </div>
                        </div>

                        <div class="Card-4">
                            <h1 class="Title-Exercise">Jantar</h1>
                            <div class="Image-Exercise">
                                <img class="Img-Exercise" src="/images/dish.png" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="Card-HealthyEating">
                        <div class="Text-HealthyEating">
                            <h1 class="Txt-HealthyEating">
                                <%= User.Name %>, confira a quantidade calórica do seu prato!
                            </h1>

                            <p class="Body-HealthyEating">
                                A Fitgym, possuí dentro da plataforma, cálculos de quantidade calórica por pratos. Com
                                base em uma tabela nutricional
                            </p>

                            <div class="Button-HealthyEating">
                                <button class="btn" type="button" style="width: 100%; height: 8vh;">Mais
                                    informações</button>
                            </div>
                        </div>

                        <div class="Image-HealthyEating">
                            <img class="Img-HealthyEating" src="/images/pyramid.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/highlight.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/halfmoon@1.1.1/js/halfmoon.min.js"></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/halfmoon@1.1.1/js/halfmoon.min.js"></script>
    <script src="/halfmoonFramework/js/halfmoon.js"></script>
    <script src="/javascript/HealthyEating.js"></script>
</body>

</html>