<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/halfmoonFramework/css/halfmoon-variables.min.css">
    <link href="https://cdn.jsdelivr.net/npm/halfmoon@1.1.1/css/halfmoon-variables.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/ValueKcal.css">
    <title>DashBoard - </title>
</head>

<body class="dark-mode with-custom-webkit-scrollbars with-custom-css-scrollbars" data-sidebar-shortcut-enabled="true"
    data-dm-shortcut-enabled="true">

    <input type="hidden" name="docs-section-id" id="docs-section-id" value="buttons">
    <div id="page-wrapper Auto-Detection" class="page-wrapper with-navbar with-sidebar"
        data-sidebar-type="overlayed-sm-and-down">
        <nav class="navbar">
            <div class="navbar-content">
                <button id="toggle-sidebar-btn" class="btn btn-action" type="button" onclick="halfmoon.toggleSidebar()">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </button>
            </div>
            <a href="/" class="navbar-brand ml-10 ml-sm-15">
                <img src="/images/strong.png" class="hidden-dm mr-5 mr-sm-10">
                <img src="/images/strong.png" class="hidden-lm mr-5 mr-sm-10">
                <p class="Brand-Txt">Fitgym</p>
            </a>
            <div class="navbar-content ml-auto">
                <button class="btn btn-action mr-5" type="button" onclick="halfmoon.toggleDarkMode()"
                    aria-label="Toggle dark mode">
                    <i class="fa fa-moon-o" aria-hidden="true"></i>
                </button>
            </div>
        </nav>
        <div class="sidebar-overlay" onclick="halfmoon.toggleSidebar()"></div>
        <div style="width: 18%" class="sidebar" id="sidebar">
            <div class="sidebar-menu">
                <a href="#" class="sidebar-brand">
                    <img src="/images/strong.png">
                    Fitgym
                </a>
                <div class="sidebar-content">
                    <div class="mt-10 font-size-12">
                        <kbd style="font-size: max(.99vw, 10px);">Seja Bem vindo <%= User.Name %>!</kbd>
                    </div>
                </div>
                <h5 class="sidebar-title">Saúde</h5>
                <div class="sidebar-divider"></div>
                <a href="http://localhost:3000/User/DashBoard" class="sidebar-link">Exercicios em casa</a>
                <a href="http://localhost:3000/User/DashBoard/HealthyEating" class="sidebar-link">Alimentação
                    saudável</a>
                <br />
                <h5 class="sidebar-title">Algumas Opções</h5>
                <div class="sidebar-divider"></div>
                <a href="http://localhost:3000/User/DashBoard/imc" class="sidebar-link">Cáculo de IMC</a>
                <a href="http://localhost:3000/User/DashBoard/valuekcal" class="sidebar-link">Calorias por pratos</a>
                <a href="http://localhost:3000/User/DashBoard/NutritionalTable" class="sidebar-link">
                    Tabelanutricional
                </a>
            </div>
        </div>
        <div class="content-wrapper">
            <div class="card">
                <input id="Quantities" type="number" class="form-control" placeholder="Quantidade do alimento (Lata, Ml, Kg, Mg, Litro, Unidade )">
                <br>
                <label for="multi-select-1">Selecione os alimentos</label>
                <select class="form-control" id="multi-select-1" multiple="multiple" size="8">
                    <option id="Refrigerante" onclick="RefrigeranteKcal()" value="Refrigerante">Refrigerante</option>
                    <option id="Cheeseburguer" onclick="Cheeseburguerkcal()" value="Cheeseburguer">Cheeseburguer</option>
                    <option id="Batata-Frita" onclick="Batata_FritaKcal()" value="Batata-Frita">Batata-Frita</option>
                    <option id="Sorvete" onclick="SorveteKcal()" value="Sorvete de casquinha">Sorvete de casquinha</option>
                    <option id="Arroz" onclick="Arrozkcal()" value="Arroz">Arroz</option>
                    <option id="Feijao" onclick="FeijaoKcal()" value="Feijão">Feijão</option>
                    <option id="Bife" onclick="Bifekcal()" value="Bife">Bife</option>
                    <option id="Abacate" onclick="Abacatekcal()" value="Abacate">Abacate</option>
                    <option id="Alface" onclick="AlfaceKcal()" value="Alface">Alface</option>
                    <option id="Tomate" onclick="TomateKcal()" value="Tomate">Tomate</option>
                    <option id="Cenoura" onclick="CenouraKcal()" value="Cenoura">Cenoura</option>
                    <option id="Beterraba" onclick="Beterrabakcal()" value="Beterraba">Beterraba</option>
                    <option id="Laranja" onclick="LaranjaKcal()" value="Laranja">Laranja</option>
                    <option id="Abacaxi" onclick="AbacaxiKcal()" value="Abacaxi">Abacaxi</option>
                    <option id="Goiaba" onclick="GoiabaKcal()" value="Goiaba">Goiaba</option>
                    <option id="Leite" onclick="Leitekcal()" value="Leite">Leite</option>
                    <option id="Bolacha" onclick="BolachaKcal()" value="Bolacha">Bolacha</option>
                    <option id="Pao_de_hamburguer" onclick="Pao_de_hamburguerkcal()" value="Pao_de_hamburguer">Pao_de_hamburguer</option>
                    <option id="Bolacha_Recheada" onclick="Bolacha_RecheadaKcal()" value="Bolacha_Recheada">Bolacha Recheada</option>
                    <option id="Pao_frances" onclick="Pao_francesKcal()" value="Pao_frances">Pao frances</option>
                </select>
                <br>
                <div class="AddFoods">
                    <div class="Button-Add-Food">
                        <div class="Foods-Selected">
                            <button class="btn" id="ShowDatas" style="width: 100%; height: 7vh;" type="button">Exibir Quantidade Calórica do Alimento</button>

                            <h1 class="Result-Text"></h1>

                            <p class="Option_Quantities"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/highlight.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/halfmoon@1.1.1/js/halfmoon.min.js"></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/halfmoon@1.1.1/js/halfmoon.min.js"></script>
    <script src="/halfmoonFramework/js/halfmoon.js"></script>
    <script src="/javascript/ValueKcal.js"></script>
</body>

</html>